{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{%include "styles.html"%}
	<title>Blogazon</title>
	<i class="fa fa-code" aria-hidden="true"></i>
</head>
<body>
	{%include "navbar.html"%}
<div class="container">
	<div class="row">
		<section class="blank-space"></section>
			<div class="asymmetric text-center">
				<h4>Hey Buddy,</h4>
			</div>
		<section class="blank-space"></section>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!-- <section class="blank-space"></section> -->
				<article class="post text-center asymmetric">
					<h5>What's up? </h5>
					<!-- <h5>Welcome to my blog</h5> -->
					<p>I'm a software developer, design geek and science nerd. If you're reading this you might also care about these things. Or maybe you just love cats. Or maybe you're my mom. Whatever reason you decided to checkout my little blog, dear reader, I'm glad you did.<br> Go ahead and poke around. If you want to see some of my work or check me out on linkedin you should totally do that. Or don't. I'm not here to tell you how to live your life. I'm just a blog.</p>
				</article>
			<section class="blank-space"></section>
		</div>
	</div>
</div>
	<br>
	{%include "scripts.html"%}
</body>
</html> 


