{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Blogazon</title>
	{%include "styles.html"%}
</head>
<body>
	{%include "navbar.html"%}
	<div class="container-fluid main">
	{%include "sidenav.html"%}
		{% if topic %}
		<div class="row content-holder body_text center">
			<div class="post asymmetric">
				<H2>{{topic}}</H2>
			</div>
		</div>
		{% endif %}
		{% if search_box %}
		<div class="row content-holder body_text center">
			<div class="post asymmetric">
				<H2>Results for "{{search_box}}"</H2>
			</div>
		</div>
		{% endif %}
	{% for blog in blogs %}
		<div class="row content-holder body_text">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<section class="blank-space"></section>
					<div class="blog-holder">
						<div class="post asymmetric">
							<h4><a href="{% url 'get_this_post' blog.id %}">{{blog.title}}</a></h4>
							<h4>{{blog.date}}</h4>
							<h4>{{blog.post_author.name}}</h4>
						</div>
					</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	{% endfor %}
		<section class="blank-space"></section>
	{%include "scripts.html"%}
</body>
</html> 