{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{%include "styles.html"%}
	<title>Blogazon
	</title>
</head>
<body>
	{%include "navbar.html"%}
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<section class="blank-space"></section>
				<div class="asymmetric text-center">
				<h4>Hey Buddy,</h4>
			</div>
			<section class="blank-space"></section>
			</div>
			<div class="row">
				<div class="col-md-12">
					<article class="post text-center asymmetric">
						<h5>What's up? </h5>
						<p>I'm a software developer, design geek and science nerd. If you're reading this you might also care about these things. If you want to see some of my work or check me out on linkedin you should totally do that. Or don't. I'm not here to tell you how to live your life. I'm just a blog.</p>
					</article>
					<section class="blank-space"></section>
				</div>
			</div>
		</div>
	</div>
	{%include "scripts.html"%}
</body>
</html> 