{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{%include "styles.html"%}
	<title>Blogazon</title>
	<i class="fa fa-code" aria-hidden="true"></i>
</head>
<body>
{%include "navbar.html"%}
<div class="container-fluid main">
	{%include "sidenav.html"%}
	<div class="row">
		<div class="col-lg-2 col-md-2 topic">
			{{topic}}
		</div>

<div class="row">
		<div class="col-lg-2 col-md-2 topic">
			{{topic}}
		</div>
		<div class="col-lg-10 col-md-10 topic">

				{% for blog in blogs %}
				{% if forloop.first %} 

				<div>
					
				</div>
				<section class="blank-carousel"></section>
			    	<div class="item active">
						<h3 class="card-title">{{blog.post_author.name}}</h3>
						<h4 class="card-title">{{blog.content}}</h4>
					</div>
				<section class="blank-carousel"></section>

				{% else %}


					<section class="blank-carousel"></section>
					<div class="item">
	  					<h3 class="card-title">{{blog.post_author.name}}</h3>
				    	<h4 class="card-title">{{blog.content}}</h4>
					</div>
					<section class="blank-carousel"></section>
				{% endif %}
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>










	{%include "scripts.html"%}
</body>
</html>